.course {
    background-color: palegoldenrod;
    width: 400px;
    text-align: left;
    border: 2px solid goldenrod;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid goldenrod;
}

.dropdown {
    width: 400px;
    border: 2px solid goldenrod;
    border-top: 1px solid goldenrod;
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.msg {
    font-size: 12px;
}